<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">NiceException</a>
			<ul class="nav">
				<li class="active"><a href="#">Overview</a></li>
				<li><a href="#">Exceptions</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" style="margin-top:10px;">
			<h2>Overview</h2>

			<div clas="row-fluid">
				<div class="span4">
					<table class="table table-striped" style="border:1px solid #dedede">
						<thead>
							<tr>
								<td>Property</td>
								<td>Value</td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Memory Usage</td>
								<td>251Kb</td>
							</tr>
							<tr>
								<td>Runtime</td>
								<td>0.441 Seconds</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="span4">
					<table class="table table-striped" style="border:1px solid #dedede">
						<thead>
							<tr>
								<td>Property</td>
								<td>Value</td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Memory Usage</td>
								<td>251Kb</td>
							</tr>
							<tr>
								<td>Runtime</td>
								<td>0.441 Seconds</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="span4">
					<table class="table table-striped" style="border:1px solid #dedede">
						<thead>
							<tr>
								<td>Property</td>
								<td>Value</td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Memory Usage</td>
								<td>251Kb</td>
							</tr>
							<tr>
								<td>Runtime</td>
								<td>0.441 Seconds</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12" style="margin-top:10px;" id="Exceptions">
			<h2>Exceptions</h2>

			<%=data.exceptions%>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12" style="margin-top:10px;" id="Exceptions">
			<h2>Trace</h2>
		</div>
	</div>
</div>